:root{
	--colorTextos:#49454567;
}

*,
::before,
::after {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	font-family: "Hetilica";
	 /* Fondo en degradado */
	background: #03001e; 
    background: -webkit-linear-gradient(to left, #ec38bc, #7303c0, #03001e);
    background: linear-gradient(to left, #ec38bc, #7303c0, #03001e);
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*select{
	position: relative;
	left:  85%;
}
select:focus{
	outline: none;
}*/

/*selectbox*/

.contenedor{
	width: 120px;
	height: 50px;
	margin-right: 0;
	display: inline-block;

}
.selectbox {
	width: 70%;

}

a{
	text-decoration: none;
}

.leng{
	font-size: 12px;
	color: #000;

}

.select {
	background: #fff;
	width: 100%;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .2s ease all;
	margin-bottom: 5px;
	padding: 0 5px;
	position: relative;
	border: 2px solid transparent;
}

.select.active,
.select:hover {
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .16);
	border: 1px solid #49156C;
}
.select.active:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border-top: 5px solid #49156C;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	position: absolute;
	bottom: -10px;
	left: calc(50% - 5px);
}

.select i {
	font-size: 14px;
	margin-left: 1px;
	color: #49156C;
}

.opciones{
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .16);
	max-height: 100px;
	width: 100%;
	display: none;
}

.opciones.active{
	display: block;
}

.contenido-opcion{
	width: 100%;
	display: flex;
	align-items: center;
	transition: 0.2s ease all;
	padding:  0 5px;
}

.opciones .contenido-opcion{
	padding:  0 5px;
}

.opciones .contenido-opcion:hover{
	background: #E1E1E1;
}

/*fin selectbox*/
h1{
	margin-left: 40%;
	font-weight: 700;
    width: 35%;
    display: inline-block;
}

form{
	background: #fff;
	padding: 40px 0;
	/*para agregarle sombra*/
	box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}

.form{
	width: 100%;
	margin:auto;
}

form .grupo{
	position: relative;
	margin: 45px;
}

input{
	background: none;
	color: #C6C6C6;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{
	outline: none;
	color: #5E5D5D;
}

.text{
	color: var(--colorTextos);
	font-size: 17px;
	position: absolute;
	left: 5px;
	top:10px;
	transition: 0.5s ease all;
	pointer-events: none;
}
/*animacion*/
input:focus~.text{
	font-size: 14px;
	color: #4F258B;
}

input:valid~.text{
	top:-14px;
}

.barra{
	position: relative;
	display: block;
	width: 100%;
}

.barra::before{
	content: "";
	height: 2px;
	width: 0%;
	bottom: 0;
	position: absolute;
	background: linear-gradient(to left, #ec38bc, #7303c0, #03001e);
	transition: 0.3s ease width;
	left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

.warnings{
	text-align: center;
	margin:auto;
	width: 80%;
	color: #B06AB3;
	padding-top: 20px;
}

.gen-f{
	color: var(--colorTextos);
	font-size: 17px;
	position: relative;
	left: 80%;
	top:-14px;
	transition: 0.5s ease all;
	pointer-events: none;

}

.gen-m{
	color: var(--colorTextos);
	font-size: 17px;
	position: relative;
	left:  55%;
	top:-14px;
	transition: 0.5s ease all;
	pointer-events: none;

}

.genero-f{
	display: inline-block;
	position: relative;
	width: 10%;
}

.genero-m{
	display: inline-block;
	position: relative;
	width: 80%;
}
 #aceptar{
	position: relative;
	width: 10%;
 }
 p{
 	color: var(--colorTextos);
	font-size: 17px;
	position: relative;
	display: inline-block;
	left: 10%;
	top:-14px;
	width: 70%;
	transition: 0.5s ease all;
	pointer-events: none;
 }
 

button{
	font-family: "Hetilica";
	background: #03001e; 
    background: -webkit-linear-gradient(to left, #ec38bc, #7303c0, #03001e);
    background: linear-gradient(to left, #ec38bc, #7303c0, #03001e);
    border:none;
    display: block;
    width: 80%;
    margin:10px auto;
    color: #FFF;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}
 /*la pantalla sea adaptable*/
@media screen and (max-width: 500px){
	form{
		width: 80%;
	}
}
